@page "/cart"

<h3>Cart</h3>

<RadzenImage Path="image/cart1.jpg" Style="width:540px; height: 290px; 
                margin-bottom:5px" />

<p>Your Cart From Aung Myin Kyaw</p>

<RadzenCard Style="width:500px; height:300px;">
    <div class="container">
        <div class="row">
            <div class="col-8">
                      Burger<br />
                <small>Seafood</small>
            </div>
            <div class="col-4">
                MMK 1,000 <br />
                <p class="text-center">- 1 +</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                       Noodle<br />
                <small>Pork</small>
            </div>
            <div class="col-4">
                MMK 1,000 <br />
                <p class="text-center">- 1 +</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                       Sushi<br />
                <small>Seafood</small>
            </div>
            <div class="col-4">
                MMK 1,000 <br />
                <p class="text-center">- 1 +</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Sunkist<br />
                <small>Orange</small>
            </div>
            <div class="col-4">
                MMK 1,000 <br />
                <p class="text-center">- 1 +</p>
            </div>
        </div>
    </div>
    <div class="container bg-light mt-3">
        <div class="row">
            <div class="col-8">
                Total
            </div>
            <div class="col-4">
                MMK 4,000
            </div>
        </div>
        <div class="text-center">
            <RadzenButton> Checkout</RadzenButton>
        </div>
    </div>
</RadzenCard>

    @code {

    }
