@page "/changepassword"

<h3>ChangePassword</h3>

<RadzenCard Style="width: 900px; height:400px; margin-top:80px">
    <RadzenLogin AllowRegister="false" AllowResetPassword="false" 
                UserText="New Password" Username=@newPassword 
                 PasswordText="Confirm New Password" Password=@confirmPassword
                 Style="margin-bottom: 20px; width: 800px; height:300px; margin-top:50px" 
                 LoginText="Submit" />
</RadzenCard>

@code {
    string newPassword = "Password";
    string confirmPassword = "Password";
}
