@page "/emoney"

<h3>Emoney</h3>

<RadzenCard Style="width: 700px; height:400px; align-items:center; margin-left:100px; margin-top:80px">
    <div class="mt-5">
        <b>Total Remaining Balance: MMK 1,500</b>
        <br />
        <br />
        <RadzenButton Text="CashIn" Icon="arrow_circle_up" Style="background-color:#5ac3ed; width: 150px" />
        <RadzenButton Text="CashOut" Icon="arrow_circle_down" Style="background-color:darkgrey; width: 160px" />
    </div>
</RadzenCard>

@code {

}
