@page "/history"

<h3>History</h3>
<br />

<h6>From Aung Myin Kyaw</h6>
<RadzenCard Style="width:800px; height:100px">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <RadzenImage Path="image/ordertext.jpg" Style="width:70px; height:70px"></RadzenImage>
            </div>
            <div class="col-6">
                Order id #791121533<br />
                Order date : 31.12.2020<br />
            </div>
            <div class="col-3 mt-2">
                <RadzenButton Style="background-color:forestgreen"> Success </RadzenButton>
            </div>
        </div>
    </div>
</RadzenCard>
<h6>From Sun Top</h6>
<RadzenCard Style="width:800px; height:100px">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <RadzenImage Path="image/ordertext.jpg" Style="width:70px; height:70px"></RadzenImage>
            </div>
            <div class="col-6">
                Order id #791121533<br />
                Order date : 31.12.2020<br />
            </div>
            <div class="col-3 mt-2">
                <RadzenButton Style="background-color:forestgreen"> Success </RadzenButton>
            </div>
        </div>
    </div>
</RadzenCard>
<h6>From For All</h6>
<RadzenCard Style="width:800px; height:100px">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <RadzenImage Path="image/ordertext.jpg" Style="width:70px; height:70px"></RadzenImage>
            </div>
            <div class="col-6">
                Order id #791121533<br />
                Order date : 31.12.2020<br />
            </div>
            <div class="col-3 mt-2">
                <RadzenButton Style="background-color:red; width:130px; height:30px"> Fail </RadzenButton>
            </div>
        </div>
    </div>
</RadzenCard>
<h6>From Hnin Si Wai</h6>
<RadzenCard Style="width:800px; height:100px">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <RadzenImage Path="image/ordertext.jpg" Style="width:70px; height:70px"></RadzenImage>
            </div>
            <div class="col-6">
                Order id #791121533<br />
                Order date : 31.12.2020<br />
            </div>
            <div class="col-3 mt-2">
                <RadzenButton Style="background-color:forestgreen"> Success </RadzenButton>
            </div>
        </div>
    </div>
</RadzenCard>
<h6>From Shwe Latt Yar</h6>
<RadzenCard Style="width:800px; height:100px">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <RadzenImage Path="image/ordertext.jpg" Style="width:70px; height:70px"></RadzenImage>
            </div>
            <div class="col-6">
                Order id #791121533<br />
                Order date : 31.12.2020<br />
            </div>
            <div class="col-3 mt-2">
                <RadzenButton Style="background-color:red; width:130px; height:30px"> Fail </RadzenButton>
            </div>
        </div>
    </div>
</RadzenCard>

@code {

}
