@page "/order"

<h3>Order</h3>

<RadzenImage Path="image/order.jpg" Style="width:800px; height:300px; margin-bottom:10px"></RadzenImage>
<h5>Your order from Aung Myin Kyaw</h5>

<RadzenCard Style="width:800px; height:100px">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <RadzenImage Path="image/ordertext.jpg" Style="width:70px; height:70px"></RadzenImage>
            </div>
            <div class="col-6">
                Order id #791121533<br />
                Order date : 31.12.2020<br />
                <small>Waiting for canteen shop confirmation</small>
            </div>
            <div class="col-3 mt-2">
                <RadzenButton> Details </RadzenButton>
            </div>
        </div>
    </div>
</RadzenCard>


@code {

}
