@page "/profile"

<h3 class="mb-5">Profile</h3>
<div class="ml-5 mt-5">
    <RadzenImage Path="image/sithu.JPG" Style="width:200px; height:200px" />
    <div class="mt-2 align-content-end">
        Sithu Aung
        6IST-82
    </div>
</div>



@code {

}
